<footer>
    <div class="footer">
        <div class="container has-text-centered">
            <a href="/aviso-legal/" title="Aviso legal" class="has-text-grey-light" rel="nofollow">Aviso legal</a>
            <span> | </span>
            <a href="/politica-privacidad/" title="Política de privacidad" class="has-text-grey-light" rel="nofollow">Política de privacidad</a>
            <span> | </span>
            <a href="/politica-cookies/" title="Política de cookies" class="has-text-grey-light" rel="nofollow">Política de cookies</a>
        </div>
    </div>
</footer>
<div class="navbar is-fixed-bottom is-flex" id="prices-bar"></div>
</body>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        const burger = document.querySelector('.navbar-burger');
        const menu = document.getElementById('navbar1');

        if (burger && menu) {
            burger.addEventListener('click', () => {
                burger.classList.toggle('is-active');
                menu.classList.toggle('is-active');
            });
        }
    });

    const data = {{ precios.preciosGrafico | dump | safe }};
    const precios = {{ precios.precios | dump | safe }};
    {% include "_includes/js/scripts.js" %}
</script>
</html>