---
title: Precio Electricidad
---

{% include "_includes/head.njk" %}
{% include "_includes/header.njk" %}
<main>
    <section class="hero">
        <div class="hero-body">
            <div class="container content">
                <div class="columns">
                    <div class="column has-text-centered is-half-desktop is-offset-one-quarter-desktop">
                        <h1 class="title is-1">Precio de la Electricidad <br/> en el Mercado Español</h1>
                        <p class="subtitle is-4">Precio de la energía por hora para el pequeño consumidor en el mercado regulado en España (PVPC)</p>
                        <p>Día: {{ precios.fecha }}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-three-fifths-desktop is-offset-one-fifth-desktop">
                    <div class="card">
                        <div class="card-content">
                            <div class="ct-chart ct-perfect-fourth"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>        
    </section>



    <div id="contenedor-franjas"></div>
    <div>
        {{ content | safe }}
    </div>
</main>
{% include "_includes/footer.njk" %}