---
permalink: robots.txt
---

User-agent: GPTBot
Disallow: /

User-agent: Google-Extended
Disallow: /

User-agent: *
Disallow: /aviso-legal/
Disallow: /politica-privacidad/
Disallow: /politica-cookies/

Sitemap: https://electon.es/sitemap.xml