---
permalink: sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{%- for page in collections.all %}
{%- if page.url and page.url !== "/robots.txt" and page.url !== "/sitemap.xml" and page.url !== "/ads.txt" %}
  <url>
    <loc>https://electon.es{{ page.url }}</loc>
    <lastmod>{% if page.url === "/" and precios.fechaActualizacion %}{{ precios.fechaActualizacion }}{% else %}{{ (page.data.date or page.date) | isoDate }}{% endif %}</lastmod>
  </url>
{%- endif %}
{%- endfor %}
</urlset>
